
.ContTask{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 600px;
    background-color: lightgray;
    margin: 10px
}

.headerContTask{
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 60px;
    background-color: rgb(154, 194, 230);
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.numberContTask{
    width: 35px;
    height: 35px;
    background-color: rgb(216, 216, 216);
    border-radius: 100%;
    
   display: flex;
   justify-content: center;
   align-items: center;
    font-size: 20px;
}

.titleContTask{
   
    font-size: 25px;
}

.plusContTask{
    background-color: transparent;
    border: transparent;
    font-size: 30px;
    
}

.task{
    background-color: aqua;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}