*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
   


}


.container-note{
    border:1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
    width: 350x;    
    height: 100px;
   box-shadow: 7px 5px 20px 1px #000000;
}
.title-note{
    color:grey;
    padding-left: 30px;



}

.subtitle-note{

color:grey;
padding-left: 20px;

}

.to_do{
    border-radius: 50%;
    border: transparent;
    background-color: rgb(1, 211, 1);
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 20px;
    left: 10px;
}
.in_progress{
    border-radius: 50%;
    border: transparent;
    background-color: yellow;
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 20px;
    left: 10px;
}
.done{
    border-radius: 50%;
    border: transparent;
    background-color: red;

    width: 15px;
    height: 15px;
    position: relative;
    bottom: 20px;
    left: 10px;
}

.delete-note{
    position: relative;
    left:280px;



}