*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
   


}


.container-note{
    border:2px solid #e4e6ea;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    border-radius: 5px;
    width: 340px;    
    height: 90px;
   background-color:#ffffff;
   -webkit-box-shadow: 10px 10px 25px -5px rgba(230,230,230,1);
-moz-box-shadow: 10px 10px 25px -5px rgba(230,230,230,1);
box-shadow: 10px 10px 25px -5px rgba(230,230,230,1);

}
.title-note{
    color:
    #96ade1;
    padding-left: 30px;



}

.subtitle-note{

color:
#70777e;
padding-left: 10px;

}
.circleStatus_white{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: transparent;
    border: 3px white solid;
}
.to_do{
    border-radius: 50%;
    border: transparent;
    background-color: rgb(2, 131, 2);
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 25%;
    margin-left: 10px;
 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.in_progress{
    border-radius: 50%;
    border: transparent;
    background-color: rgb(226, 166, 1);
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 20px;
    left: 10px;


    display: flex;
    justify-content: center;
    align-items: center;
}
.done{
    border-radius: 50%;
    border: transparent;
    background-color: rgb(167, 2, 2);

    width: 15px;
    height: 15px;
    position: relative;
    bottom: 20px;
    left: 3%;


    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-note{
    position: relative;
    left:90%;
    bottom: 40%;
    width: 25px;
    height: 25px;
    border: none;
    background-color: #ffffff;
  
    




}