*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
   


}


.container-note{
    border:2px solid #e4e6ea;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    border-radius: 5px;
    width: 340px;    
    height: 90px;
   background-color:#ffffff;
   -webkit-box-shadow: 10px 10px 25px -5px rgba(230,230,230,1);
-moz-box-shadow: 10px 10px 25px -5px rgba(230,230,230,1);
box-shadow: 10px 10px 25px -5px rgba(230,230,230,1);

}
.title-note{
    color:
    #96ade1;
    padding-left: 30px;



}

.subtitle-note{

color:
#70777e;
padding-left: 10px;

}

.to_do{
    border-radius: 50%;
    border: transparent;
    background-color: rgb(1, 211, 1);
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 25%;
    margin-left: 10px;
 
    
}
.in_progress{
    border-radius: 50%;
    border: transparent;
    background-color: yellow;
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 20px;
    left: 10px;
}
.done{
    border-radius: 50%;
    border: transparent;
    background-color: red;

    width: 15px;
    height: 15px;
    position: relative;
    bottom: 20px;
    left: 3%;
}

.delete-note{
    position: relative;
    left:90%;
    bottom: 40%;
    width: 25px;
    height: 25px;
    border: none;
    background-color: #ffffff;
  




}