*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
   


}


.container-note{
    border:1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
    width: 350x;    
    height: 100px;
   box-shadow: 7px 5px 20px 1px #000000;
}
.title-note{
    color:grey;
    padding-left: 30px;



}

.subtitle-note{

color:grey;
padding-left: 20px;

}

.circle-note{
    border-radius: 50%;
    background-color: green;
    width: 10px;
    height: 10px;
    position: relative;
    bottom: 20px;
    left: 10px;

    

    
}

.delete-note{
    position: relative;
    left:280px;



}