*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}

.nav_container {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background-color:#24292e;
   
    align-items: center
    
}


.logo_container {

    height: 60px;
    width: 100px;
    margin-top: 8px;
    
}

.logo {

    height: 70%;
    margin-left: 30px;
    margin-top: 4px;
}

.version {

margin-left: 500px;
width: 100px;
height: 20px;
font-size: 11px;
color: #ffffff;
text-align: center;
}

 